@tailwind base;
@tailwind components;
@tailwind utilities;

.bar {
  background: #60a5fa;
}

.use {
  background-color: #a2ffa6;
  color: #000;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 6px;
  border: 1px solid #000;
  cursor: pointer;
  margin-left: auto;
  transition: background-color 0.2s ease;
}

.use:hover {
  background-color: #312ef8;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
  transform: scale(1.1); /* Enlarges the button */
  transition: transfrom 0.2s ease;
  color: #ffff;
}


.start {
  background-color:  #fef08a;
  color: #000;
  padding: 8px 16px;
  border-radius: 6px;
  border: 1px solid #000;
  transition: background-color 0.2s ease;
  cursor: pointer;

}

.start:hover {
  background-color: #2563eb;
  color: #ffff;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
  transform: scale(1.1); /* Enlarges the button */
  transition: transfrom 0.2s ease;
}

.new {
  width: 100px;
  background-color: #fef08a;
  color: #000;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 6px;
  border: 1px solid #000;
  cursor: pointer;
  margin-left: auto;
  transition: background-color 0.2s ease;
}
.new:hover {
  background-color: #2563eb;
  color: #ffff;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
  transform: scale(1.1); /* Enlarges the button */
  transition: transfrom 0.2s ease;
}

.drop_down {
  background-color: #fef08a; 
  color: black;
  border: 1px solid #000; 
  border-radius: 6px; 
  padding: 6px; 
  cursor: pointer; 
  transition: background-color 0.2s ease, box-shadow 0.2s ease; 
}

.drop_down:focus {
  outline: none;   
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
}
.speed{
  
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #fef08a;
  background-color: #fff;
  font-size: medium;
}

.img_btn{
    border-width: 2px;
    border-color: black;
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}

.img_btn:hover{
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
  transform: scale(1.1); /* Enlarges the button */
  transition: transfrom 0.2s ease;
}
.img_btn:focus{
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
  transform: scale(1.1); 
  transition: transfrom 0.2s ease;
}
.grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  width: 100%;

}

.grid-row {
  display: flex;
}

.grid-node {
  width: 20px;
  height: 20px;
  border: 1px solid #F1D4AF;
  background-color: #ECE5CE;
  display: inline;
}

.start-node {
  background-image: url('/src/images/nobi4.jpg'); /* Path to Doraemon image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: scale(1.3);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
  border: 1px solid black;
  border-radius: 50%;
}

.finish-node {
  background-image: url('/src/images/doraemon.jpg'); /* Path to Nobita image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: scale(1.3);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
  border: 1px solid black;
  border-radius: 50%;
}
.grid-node.iswall {
  background-image: url('/src/images/gian.jpg'); /* Path to Nobita image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.node-shortest-path {
  background-color: #6f6058;
  transform: scale(1.1);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
  border: 1px solid black;
  border-radius: 25%;
}
.node-visited{
  background-color: #6aa687;
}
/* how to use card */


/* Blur effect */
.blurred {
  filter: blur(5px);
  pointer-events: none; /* Prevent interaction with blurred background */
}

/* Overlay styles */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

/* Card styling */
.card {
  background:#D4F4EC;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.back {
  background-color: #70D0C6;
  padding: 3px 8px;
  border: 1px solid black;
  border-radius: 8px;
  font-size: 12px;
  cursor: pointer;
}
.back:hover{
  background-color: #FEA889;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
}